#about {
    height: 100vh;
}
.about-bg {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

.about-container {
    color: white;
    max-width: 100rem;
    margin: auto;
    width: 85%;
}

.hire-container {
    display: flex;
    justify-content: end;
    padding-right: 35px;
    padding-top: 35px;
}

#about .hire {
    background: transparent;
    border-radius: 8px;
    border: 2px solid #60A7B6;
    color: rgba(53, 214, 247, 1);
}

.info-section {
    display: flex;
    flex-direction: row;
    gap: 300px;
    margin-top: 45px;
}

.info-section .heading {
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 48px;
}

.intro::before {
    content: 'hello';
    transform: translate(-35%, -42%);

}

.tech::before {
    content: 'techstack';
    transform: translate(-20%, -42%);

}

.heading::before {
    position: absolute;
    font-family: 'Yellowtail', cursive;
    text-transform: lowercase;
    color: #1B3338;
    font-size: 96px;
    z-index: -1;
    font-weight: 400;
}

.sec {
    flex-basis: 100%;
}

.skills {
    padding: 0px 10px;
}

.skills-wrapper {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.skills-wrapper .child {
    border-radius: 8px;
    border: 2px solid rgba(60, 162, 235, 0.60);
    background: rgba(202, 233, 255, 0.30);
    padding: 3px 10px;
}