.sidebar {
    position: fixed;
    z-index: 100;
    display: inline-block;
    top: 250px;
    left: 88px;
}

.nav-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
}

.nav-icon {
    height: 52px;
    width: 52px;
    border: 0.89px solid #3CA2EB66;
    border-radius: 14.23px;
    text-align: center;
    cursor: pointer;
}

.nav-icon.selected {
    background-color: #CAE9FF66;
}

.nav-icon:hover {
    background-color: #CAE9FF66;
    transition: 0.5s;
}

.icon-img {
    height: 52px;
    width: 22px;
}